<!--nameSection-->
  <div class="container">

      <div class="feature__title title">
        Наши преимущества
      </div>
      <div class="feature-items">
        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item wow animate__animated animate__flipInY">
                    <div class="feature-item_number">
                        1
                    </div>
                    <div class="feature-item__title">
                        наше преимущество
                    </div>
                    <div class="feature-item__text">
                        Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item wow animate__animated animate__flipInY">
                    <div class="feature-item_number">
                        2
                    </div>
                    <div class="feature-item__title">
                        наше преимущество
                    </div>
                    <div class="feature-item__text">
                        Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item wow animate__animated animate__flipInY">
                    <div class="feature-item_number">
                        3
                    </div>
                    <div class="feature-item__title">
                        наше преимущество
                    </div>
                    <div class="feature-item__text">
                        Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item wow animate__animated animate__flipInY">
                    <div class="feature-item_number">
                        4
                    </div>
                    <div class="feature-item__title">
                        наше преимущество
                    </div>
                    <div class="feature-item__text">
                        Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item wow animate__animated animate__flipInY">
                    <div class="feature-item_number">
                        5
                    </div>
                    <div class="feature-item__title">
                        наше преимущество
                    </div>
                    <div class="feature-item__text">
                        Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item wow animate__animated animate__flipInY">
                    <div class="feature-item_number">
                        6
                    </div>
                    <div class="feature-item__title">
                        наше преимущество
                    </div>
                    <div class="feature-item__text">
                        Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>