.main{
    padding-top: 60px;
    width: 100%;
    position: relative;
    background-color: #333333;

}
.main-slider{
    margin-top: -60px;
    width: 100%;
}
.main-slider-btn_group {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 500;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;

}
.main-slider-btn_group button{
    border: none;
    background-color: transparent;
    outline: none;

}
.btn-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-slider-btn{
    opacity: .8;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    transition: all .5s ease;
    padding: 0;

    z-index: 100;
}
.main-slider-btn:hover{
    opacity: 1;
    cursor: pointer;
}
.main-slider-item{
    position: relative;
}
.main-slider-item:before{
    position: absolute;
    content: '';
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*t_w_bg*/
}
.main-slider-item img{
    width: 100%;
}

.main-middle{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
}
.main-wrapper{

    margin-left: 13vw;
    padding: 0;


}
.carousel-indicators{
    z-index: 100;
}
/*dots_style*/
.main-text{
    width: 60%;
    /*m_t_fz*/
    text-align: left;
    padding-bottom: 20px;
    /*m_t_c*/
    font-style: italic;
    font-weight: lighter;
}
.main-heading{

    /*m_h_fz*/
    /*m_h_c*/
    text-align: left;
    margin-bottom: 2vh;
}










@media (max-width: 991px) {

}
