 .feature{
    width: 100%;
    /*f_bg*/
}
.feature__title{
    text-align: center;
}
.feature-item{
    margin-bottom: 40px;
    padding: 20px;
    /*border_item*/
    box-sizing: border-box;
    border-radius: 5px;

}

.feature-item_number{
    font-size: 40px;
    /*n_f_c*/
    /*n_fz_c*/
    margin-bottom: 20px;

    text-align: left;
}

.feature-item__title{
    /*f_t_c*/
    /*f_z_fit*/
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*t_border*/

}


.feature-item__text{
    font-weight: 300;
    /*f_text_fz*/
    /*f_text_c*/
    line-height: 20px;
    text-align: justify;
}

