<section id="main" class="main">
  <div class="main-slider">
    <div class="main-slider-item"><!--im_s_1--></div>
  </div>
  <div class="main-middle">
    <div class="main-wrapper container">
      <div class="main-heading h1">
        Название компании
      </div>
      <div class="star">
        <div class="star-wrapper">
          <span class="h3">&#9733;</span>
          <span class="h3">&#9733;</span>
          <span class="h3">&#9733;</span>
          <span class="h3">&#9733;</span>
          <span class="h3">&#9733;</span>
        </div>

      </div>
      <div class="main-text textSize col-xl-7 col-lg-8  col-md-8 col-sm-9 d-lg-block d-md-block d-sm-block d-none">
        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. " .
      </div>

      </div>
    </div>
  </div>

</section>