/*main-start*/
.main{
    width: 100%;
    position: relative;
}
.main-slider{
    width: 100%;
}


.main-slider-item{
    position: relative;
    max-height: 600px;
}
.main-slider-item:before{
    position: absolute;
    content: '';
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*t_w_bg*/
}
.main-slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-middle{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
}
.main-wrapper{

    padding-left: 13vw;
    padding: 0;


}
.star{
    width: 300px;
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2vh auto;
}
.star-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.star:before{
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    left: 0;
    top: 50%;
    bottom: 0;
    background-color: #fff;
}
.star:after{
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    right: 0;
    top: 50%;
    bottom: 0;
    background-color: #fff;
}
.star-wrapper span{
    /*star_color*/
    margin-right: 15px;
}
.star-wrapper span:last-child{
    margin-right: 0;
}
.main-text{
    margin: 0 auto 2vh auto;
    text-align: center;
    padding-bottom: 20px;
    /*m_t_c*/
    font-style: italic;
    font-weight: lighter;
}
.main-heading{


    /*m_h_c*/
    text-align: center;
    margin-bottom: 2vh;
}

@media (max-width: 991px) {

    .main-slider-item{
        min-height: 400px;
        max-height: 500px;
    }
}
@media (max-width: 768px) {

    .main-slider-item{
        min-height: 280px;
        max-height: 450px;
    }
}
@media (max-width: 576px) {

    .main-slider-item{
        min-height: 220px;
        max-height: 280px;
    }
}
/*main-end*/