.footer{
    /*footer_bg*/
}

.footer-text {
    /*footer_bottom_text_align*/
    /*footer_bottom_text_fz*/
    /*footer_bottom_text_c*/
    line-height: 18px;
}
.footer-text span{
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 5px;
}
