<section class="feedback section">
  <div class="container">
    <div class="feedback-title title">Отзывы наших клиентов</div>
    <div class="feedback-slider">
      <div class="feedback-slider-btn_group">
        <button class="feedback-slider-btn feedback-prev-btn">
          &#9001;
        </button>
        <button class="feedback-slider-btn feedback-next-btn">
          &#9002;
        </button>

      </div>
      <div class="feedback-slider-item ">
        <p class=feedback-heading>«...Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать...»</p>
        <p class=feedback-text>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
        <p class=feedback-signature><span>Олег Петров,</span> д. Месягутово</p>
      </div>
      <div class=feedback-slider-item>
        <p class=feedback-heading>«...Сайт рыбатекст поможет дизайнеру...»</p>
        <p class=feedback-text>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. </p>
        <p class=feedback-signature><span>Ирина Антонова,</span> г. Кисловодск</p>
      </div>
      <div class=feedback-slider-item>
        <p class=feedback-heading>«...Сайт рыбатекст поможет дизайнеру, верстальщику...»</p>
        <p class=feedback-text>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
        <p class=feedback-signature><span>Нарек Маргарян,</span> г. Великие Луки</p>
      </div>
    </div>
  </div>
</section>