.feedback {

    /*feed_bg*/
    padding: 40px 0;
}
.feedback-title{
    text-align: center;

}
.feedback-slider{
    width: 100%;
    position: relative;
}
.feedback-slider-item {
    padding-bottom: 5rem;
}

.feedback-heading {
    /*f_t_fz*/
    text-align: center;
    margin-top: 15px;
    line-height: 1.3;
    font-weight: bold;
    /*feed_h_c*/
}
.feedback-text {
    text-align: center;
    margin: 3rem 0;
    /*f_text_fz*/
    /*feed_t_c*/
}
.feedback-signature {
    text-align: center;
    /*f_sign_fz*/
    /*feed_s_c*/
}

.feedback-slider-btn_group {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedback-slider-btn_group button{
    border: none;
    background-color: transparent;
    outline: none;
}

.feedback-slider-btn{
    opacity: .8;
    font-size: 24px;
    font-weight: bold;
    /*feed_btn_c*/
    transition: all .5s ease;
    padding: 0 20px;
}
.feedback-slider-btn:hover{
    opacity: 1;
}

