<section class="service section">
  <div class="container">
    <div class="service-title title">Отзывы наших клиентов</div>
    <div class="service-content">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце</div>
    <div class="service-wrapper row">
      <div class="service-wrapper__img col-md-4">
        <!--im_service_1-->
      </div>
      <div class="service-wrapper__accordion col-md-8" id="accordion">
        <p class="service-heading "><span>Сколько времени нужно для изготовления заказа?</span></p>
        <div class="service-text">
          <p>
            Время выполнения заказа зависит от трех факторов: сложности картины, стиля написания и размера. Среднее время выполнения заказа составляет 7 дней без учета времени на доставку. В ряде случаев по желанию заказчика можно уменьшить срок до 5 дней.<br><br>Примечание: Если Вы решите что-то изменить в картине, внести коррективы - это может занять дополнительное время, которое не учитывается при оговоренном сроке выполнения.
          </p>
        </div>
        <p class="service-heading"><span>Смогу ли я увидеть картину до ее получения?</span></p>
        <div class="service-text">
          <p>
            Да. По готовности, мы отправляем по электронной почте цифровое фото Вашей картины, для того, чтобы Вы смогли, при необходимости внести свои корректировки и пожелания, если таковые будут. Вы также сможете увидеть картину "вживую" в нашем салоне. Сообщите об этом Вашему менеджеру.
          </p>
        </div>
        <p class="service-heading"><span>Какого формата должны быть фотографии</span></p>
        <div class="service-text">
          <p>
            Мы работаем со всеми известными форматами изображений! Через сайт вы можете загрузить JPEG, TIFF, PNG размером до 50 мегабайт. Вы должны обладать авторскими правами или иметь разрешение на использование изображения. Если у Вас другой формат изображения (RAW, PDF), то вы можете воспользоваться FTP загрузчиком. Если вы хотите сделать фото из бумажной фотографии (не цифровой), пришлите его нам, мы отсканируем, обработаем и вернем фото вместе с вашим заказом!
          </p>
        </div>
        <p class="service-heading"><span>Могу ли я дать особые указания художнику</span></p>
        <div class="service-text">
          <p>
            Когда вы размещаете свой заказ на сайте, вы можете добавить свои комментарии в специальном текстовом поле. Вы также можете: объединить объекты с разных фото в одно или удалить объекты с фото, можете поменять задний фон, поменять одежду, наряды, сделать цветную картину с черно-белого фото, а также заказать картину с поврежденного или старого фото.
          </p>
        </div>
      </div>
    </div>




  </div>
</section>