
<section id="footer" class="footer section">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-sitemap">
          <div class="footer-title h4">Карта сайта</div>
          <ul class=" menu-sitemap">
            <!--landingMenu-->
          </ul>
        </div>
        <div class="footer-contacts">
          <div class="footer-title h4">Контакты</div>
          <p class="footer-info textSize" >
            <i class="fas fa-map-marker-alt"></i>
            <span class="footer-address">г.Киев, пр-т Победы, 65</span>
          </p>
          <a class="footer-info textSize" href="tel:+749537212455">
            <i class="fas fa-phone-volume"></i>
            <span class="footer-phone">+3(8066) 965-56-45</span>
          </a>
          <a class="footer-info textSize" href="mailto:companyemail@gmail.com">
            <i class="fas fa-envelope"></i>
            <span class="footer-email">companyemail@gmail.com</span>
          </a>
        </div>
        <div class="footer-logo">
          <div class="footer-img">
            <!--im_footer_logo-->
          </div>
          <div class="footer-text linkSize">
            <span>название компании</span><br>&#169; Все права защищены

          </div>
        </div>
      </div>

    </div>

</section>