<!--nameSection-->
  <div class="container">
    <div class="service-title title">Наши услуги</div>
    <div class="service-content">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце</div>
    <div class="service-wrapper row">
      <div class="service-wrapper__img col-md-4 wow animate__fadeInLeft animate__animated">
        <!--im_service_1-->
      </div>
      <div class="service-wrapper__accordion col-md-8 wow animate__animated animate__fadeInRight" id="accordion">
        <p class="service-heading "><span>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру?</span></p>
        <div class="service-text">
          <p>
            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце
        </p>
        </div>
        <p class="service-heading"><span>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру?</span></p>
        <div class="service-text">
          <p>
            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце
      </p>
        </div>
        <p class="service-heading"><span>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру?</span></p>
        <div class="service-text">
          <p>
            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце
    </p>
        </div>
        <p class="service-heading"><span>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру?</span></p>
        <div class="service-text">
          <p>
            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце</p>
        </div>
      </div>
    </div>




  </div>
</section>