
<section id="footer" class="footer">
  <div class="footer__top section">
    <div class="container">
      <div class="footer__top-wrapper">
        <div class="footer__top-sitemap">
          <div class="footer__top-title h4">Карта сайта</div>
          <ul class="footer__menu-sitemap">
            <!--landingMenu-->
          </ul>
        </div>

        <div class="footer-services">
          <div class="footer__top-title h4">Наши услуги</div>
          <ul>
            <li><a href="index.html">Информация о нашей услуге</a></li>
            <li><a href="index.html">Информация о нашей услуге</a></li>
            <li><a href="index.html">Информация о нашей услуге</a></li>
            <li><a href="index.html">Информация о нашей услуге</a></li>
            <li><a href="index.html">Информация о нашей услуге</a></li>
            <li><a href="index.html">Информация о нашей услуге</a></li>
          </ul>

        </div>
        <div class="footer-contacts">
          <div class="footer__top-title h4">Контакты</div>
          <p class="footer-info textSize" >
            <i class="fas fa-map-marker-alt"></i>
            <span class="footer-address">г.Киев, пр-т Победы, 65</span>
          </p>
          <a class="footer-info textSize" href="tel:+749537212455">
            <i class="fas fa-phone-volume"></i>
            <span class="footer-phone">+3(8066) 965-56-45</span>
          </a>
          <a class="footer-info textSize" href="mailto:companyemail@gmail.com">
            <i class="fas fa-envelope"></i>
            <span class="footer-email">companyemail@gmail.com</span>
          </a>



        </div>

      </div>

    </div>
  </div>
  <div class="footer__bottom section">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <div class="footer__bottom-logo"><!--im_footer_logo--></div>
        <div class="footer-text linkSize"><span>название компании</span>&#169; Все права защищены<br>
          </div>
      </div>

    </div>

  </div>
</section>