
<footer class="footer">
  <div class="footer__top section">
    <div class="container">
      <div class="footer__top-wrapper">
        <div class="footer__top-sitemap">
          <div class="footer__top-title">Карта сайта</div>
          <ul class="menu-sitemap">
            <!--landingMenu-->
          </ul>
        </div>

        <div class="footer__top-services">
          <div class="footer__top-title">Наши услуги</div>
          <ul>
            <li><a href="#">Информация о нашей услуге</a></li>
            <li><a href="#">Информация о нашей услуге</a></li>
            <li><a href="#">Информация о нашей услуге</a></li>
            <li><a href="#">Информация о нашей услуге</a></li>
            <li><a href="#">Информация о нашей услуге</a></li>
            <li><a href="#">Информация о нашей услуге</a></li>
          </ul>

        </div>
        <div class="footer__top-contacts">
          <div class="footer__top-title">Контакты</div>
          <p class="footer__top-info" >
            <i class="fas fa-map-marker-alt"></i>
            г.Киев, пр-т Победы, 65
          </p>
          <a class="footer__top-info" href="tel:+749537212455">
            <i class="fas fa-phone-volume"></i>
            +3(8066) 965-56-45
          </a>
          <a class="footer__top-info" href="mailto:companyemail@gmail.com">
            <i class="fas fa-envelope"></i>
            companyemail@gmail.com
          </a>



        </div>

      </div>

    </div>
  </div>
  <div class="footer__bottom section">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <div class="footer__bottom-logo"><!--im_footer_logo--></div>
        <div class="footer__bottom-text"><span>название компании</span>&#169; Все права защищены<br>
          2011-2020</div>
      </div>

    </div>

  </div>
</footer>