
/*page*/.contact {
    /*contact_bg*/
}
/*page*/ .contact-title{
    text-align: center;
}
/*page*/ .contact .input-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*page*/ .contact input {
    width: 30%;
    margin-bottom: 3rem;
}

/*page*/ .contact .input-text {
    display: block;
    width: 100%;
}
/*page*/ .contact .button-order {
    margin-top: 1rem;
}

@media (max-width: 991px) {
    /*page*/ .contact input {
        width: 100%;
    }
}
