<header class="header header_bg">
  <div class="header_main">
    <div class="container">
      <div class="header_main-wrapper">
        <div class="logo col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-3">
            <!--im_l-->

        </div>
        <nav class="menu col-xl-10 col-lg-10 col-md-10 col-sm-12">
          <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Преимущества</a></li>
            <li><a href="#">Как мы работаем</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </nav>


        <button class="toggle-hamburger toggle-hamburger__animx d-xl-none d-lg-none d-md-none">
          <span>menu toggle</span>
        </button>



      </div>



    </div>

  </div>



</header>