<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-3">
                <img src="images/logo.png" alt="">
            </div>
            <nav class="menu col-lg-7 col-md-7 col-sm-10">
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Преимущества</a></li>
                    <li><a href="#">Как мы работаем</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="info col-lg-3 col-md-3 col-sm-12 col-xs-7">
                <div class="info-phone">+380669548775</div>
                <div class="info-email">info@gmail.com</div>
            </div>

            <button class="toggle-hamburger toggle-hamburger__animx hidden-lg hidden-md hidden-sm">
                <span>menu toggle</span>
            </button>



        </div>



    </div>

</header>