  <section id="main" class="main">
  <div class="main-slider-btn_group container">

      <button class="slider-btn slider-prev-btn main-prev-btn">

      </button>
      <button class="slider-btn slider-next-btn main-next-btn">

      </button>


  </div>


  <div class="main-slider">
    <div class="main-slider-item">
      <!--im_s_1-->
      <div class="main-slider-text container">
        <div class="col-9 col-offset-1">
          <div class="text-wrapper">
            <p class="main-heading h1"><!--slider_item_title_1--></p>
            <p class="main-text textSize d-none d-xl-block d-lg-block d-md-block d-sm-block "><!--slider_item_text_1--></p>
          </div>
        </div>
      </div>
    </div>
    <div class="main-slider-item">
      <!--im_s_2-->
      <div class="main-slider-text container">
        <div class="col-9 col-offset-1">
          <div class="text-wrapper">
            <p class="main-heading h1"><!--slider_item_title_2--></p>
            <p class="main-text textSize d-none d-xl-block d-lg-block d-md-block d-sm-block "><!--slider_item_text_2--></p>
          </div>
        </div>
      </div>
    </div>
    <div class="main-slider-item">
      <!--im_s_3-->
      <div class="main-slider-text container">
        <div class="col-9 col-offset-1">
          <div class="text-wrapper">
            <p class="main-heading h1"><!--slider_item_title_3--></p>
            <p class="main-text textSize d-none d-xl-block d-lg-block d-md-block d-sm-block "><!--slider_item_text_3--></p>
          </div>
        </div>
      </div>
    </div>




  </div>

</section>