
/*page*/.about{
    width: 100%;
    /*a_bg*/
}
/*page*/ .about-content__title{
    text-align: center;
}
/*page*/ .section_content h3{
    /*a_h3_c*/

    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
/*page*/ .section_content h2{

    text-transform: uppercase;
    /*a_h2_c*/
    text-align: center;
    margin-bottom: 20px;
}
/*page*/ .section_content p{

    /*a_t_c*/
    margin-bottom: 20px;
}
/*page*/ .about-first_block p:nth-child(2n){
    /*a_f_b_c*/
}
/*page*/ .about-last_block p:nth-child(2n+1){
    /*a_l_b_c*/
}
/*page*/ .person{
    text-align: center;
    margin-bottom: 40px;

}
/*page*/ .person img{
    max-width: 220px;
    display: inline-block;
    border-radius: 50%;
}
