<!--nameSection-->
  <div class="feedback-wrapper container">
    <div class="feedback-title title h2">Отзывы наших клиентов</div>
    <div class="feedback-slider-btn_group">
      <button class="slider-btn feedback-prev-btn slider-prev-btn">

      </button>
      <button class="slider-btn feedback-next-btn slider-next-btn">

      </button>

    </div>
    <div class="feedback-slider">

      <div class="feedback-slider-item wow animate__animated animate__fadeIn">
        <p class="feedback-text textSize">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>
        <p class="feedback-signature textSize">Олег Петров, д. Месягутово</p>
      </div>
      <div class="feedback-slider-item wow animate__animated animate__fadeIn">
        <p class="feedback-text textSize">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        <p class="feedback-signature textSize">Ирина Антонова, г. Кисловодск</p>
      </div>
      <div class="feedback-slider-item wow animate__animated animate__fadeIn">
        <p class="feedback-text textSize">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>
        <p class="feedback-signature textSize">Нарек Маргарян, г. Великие Луки</p>
      </div>
      <div class="feedback-slider-item wow animate__animated animate__fadeIn">
        <p class="feedback-text textSize">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. </p>
        <p class="feedback-signature textSize">Ирина Антонова, г. Кисловодск</p>
      </div>
      <div class="feedback-slider-item wow animate__animated animate__fadeIn">
        <p class="feedback-text textSize">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>
        <p class="feedback-signature textSize">Нарек Маргарян, г. Великие Луки</p>
      </div>
      <div class="feedback-slider-item wow animate__animated animate__fadeIn">
        <p class="feedback-text textSize">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        <p class="feedback-signature textSize">Нарек Маргарян, г. Великие Луки</p>
      </div>
      <div class="feedback-slider-item wow animate__animated animate__fadeIn">
        <p class="feedback-text textSize">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        <p class="feedback-signature textSize">Нарек Маргарян, г. Великие Луки</p>
      </div>
    </div>
  </div>
</section>