.feedback {

    /*feed_bg*/
    padding: 40px 0;
}
.feedback-wrapper{
    overflow: hidden;
    position: relative;
}

.feedback-title{
    text-align: center;

}
.feedback-slider{

}
.feedback-slider-item {
    padding: 0 25px 20px 25px;
    box-sizing: border-box;
}


.feedback-text {
    /*f_text_bg*/
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    text-align: justify;
    margin: 3rem 0 2rem 0;
    /*f_text_fz*/
    /*feed_t_c*/
}
.feedback-text:after {
    position: absolute;
    content: '';
    left: 20px; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    /*f_text_border*/
}
.feedback-signature {
    text-align: left;
    margin-left: 35px;
    /*f_sign_fz*/
    /*feed_s_c*/
}

.feedback-slider-btn_group {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 100;
}

.feedback-prev-btn, .feedback-next-btn{
    margin: 0 20px;
}