<!--nameSection-->
  <div class="service-wrapper container">
    <div class="service-title title">Наши услуги</div>
    <div class="service-content">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце</div>
    <div class="service-slider-btn_group">
      <button class="slider-btn service-prev-btn slider-prev-btn">

      </button>
      <button class="slider-btn service-next-btn slider-next-btn">

      </button>

    </div>

    <div class="service-slider">

      <div class="service-slider-item wow animate__animated animate__fadeIn">
        <div class="service-number">
          01
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей.</p>
        
      </div>
      <div class="service-slider-item wow animate__animated animate__fadeIn">
        <div class="service-number">
          02
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. </p>

      </div>
      <div class="service-slider-item wow animate__animated animate__fadeIn">
        <div class="service-number">
          03
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>

      </div>
      <div class="service-slider-item wow animate__animated animate__fadeIn">
        <div class="service-number">
          04
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>

      </div>
      <div class="service-slider-item wow animate__animated animate__fadeIn">
        <div class="service-number">
          05
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>

      </div>
      <div class="service-slider-item wow animate__animated animate__fadeIn">
        <div class="service-number">
          06
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>

      </div>
    </div>
  </div>
</section>