
/*page*/.service {
    /*service_bg*/
    padding: 40px 0;
}
/*page*/ .service-title{
    text-align: center;
    /*service_h_c*/
}
/*page*/ .service-content{
    text-align: center;
    margin-bottom: 30px;
    /*ser_c_content*/

}
/*page*/ .service-wrapper{
    overflow: hidden;
    position: relative;
}
/*page*/ .service-slider{
    width: 100%;

}
/*page*/ .service-slider-btn_group {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    left: 0;
    right: 0;
    z-index: 100;
}
/*page*/ .service-next-btn, .service-prev-btn{
    margin: 0 20px;
}




/*page*/ .service-slider-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px 20px 25px;
    box-sizing: border-box;

}
/*page*/ .service-number{
    width: 100%;
    text-align: center;
    font-weight: lighter;
    /*service_num_c*/
    padding-bottom: 60px;
    position: relative;
}
/*page*/ .service-number:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /*service_num_after_bg*/
    /*service_num_after_border*/
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
/*page*/ .service-number::before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    /*service_num_line_bg*/
    bottom: 35px;
    left: -25px;
    right: -25px;


}

/*page*/ .service-heading {
    text-transform: uppercase;
    /*service_head_c*/
}
/*page*/ .service-text {
    text-align: justify;
    margin: 15px 0;
    /*service_t_c*/
}





