<!--nameSection-->
  <div class="container">

      <div class="feature__title title h2">
        Наши преимущества
      </div>
      <div class="feature-items">
        <div class="row feature-wrapper">
          <div class="feature-item wow animate__animated animate__flipInY col-lg-4 col-md-6 col-sm-12">
            <div class="feature-item__wrapper textSize">
                <span class="feature-item_number h1">01</span> <span class="feature-item__title">наше преимущество</span>
            </div>
              <div class="feature-item__text linkSize">
                  Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
              </div>
          </div>
            <div class="feature-item wow animate__animated animate__flipInY col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item__wrapper textSize">
                    <span class="feature-item_number h1">02</span> <span class="feature-item__title">наше преимущество</span>
                </div>
                <div class="feature-item__text linkSize">
                    Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                </div>
            </div>
            <div class="feature-item wow animate__animated animate__flipInY col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item__wrapper textSize">
                    <span class="h1 feature-item_number">03</span> <span class="feature-item__title">наше преимущество</span>
                </div>
                <div class="feature-item__text linkSize">
                    Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                </div>
            </div>
            <div class="feature-item wow animate__animated animate__flipInY col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item__wrapper textSize">
                    <span class="h1 feature-item_number">04</span> <span class="feature-item__title">наше преимущество</span>
                </div>
                <div class="feature-item__text linkSize">
                    Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                </div>
            </div>
            <div class="feature-item wow animate__animated animate__flipInY col-lg-4 col-md-6 col-sm-12">
                <div class="feature-item__wrapper textSize">
                    <span class="h1 feature-item_number">05</span> <span class="feature-item__title">наше преимущество</span>
                </div>
                <div class="feature-item__text linkSize">
                    Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                </div>
            </div>
            <div class="feature-item wow animate__animated animate__flipInY col-lg-4
             col-md-6 col-sm-12">
                <div class="feature-item__wrapper textSize">
                    <span class="h1 feature-item_number">06</span> <span class="feature-item__title">наше преимущество</span>
                </div>
                <div class="feature-item__text linkSize">
                    Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
                </div>
            </div>

        </div>
      </div>
  </div>
</section>