/*feature-start*/
.feature{
    width: 100%;
    /*f_bg*/
}
.feature__title{
    text-align: center;
}
.feature-item{
    margin-bottom: 20px;
}
.feature-item__wrapper{
    /*f_t_c*/
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
}
.feature-item__title span{
    /*f_t_span_c*/
    margin-right: 20px;
}



.feature-item__text{
    font-weight: 400;
    /*f_text_c*/
    /*f_text_border*/
    line-height: 20px;
    text-align: justify;
    padding-left: 15px;
}
/*feature-end*/
