<section class="service section">
  <div class="service-wrapper container">
    <div class="service-title title">Отзывы наших клиентов</div>
    <div class="service-content">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце</div>
    <div class="service-slider-btn_group">
      <button class="service-slider-btn service-prev-btn">
        &#9001;
      </button>
      <button class="service-slider-btn service-next-btn">
        &#9002;
      </button>

    </div>

    <div class="service-slider">

      <div class="service-slider-item ">
        <div class="service-number">
          01
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. При создании генератора мы использовали небезизвестный универсальный код речей.</p>
        
      </div>
      <div class="service-slider-item ">
        <div class="service-number">
          02
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. </p>

      </div>
      <div class="service-slider-item ">
        <div class="service-number">
          03
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>

      </div>
      <div class="service-slider-item ">
        <div class="service-number">
          04
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>

      </div>
      <div class="service-slider-item ">
        <div class="service-number">
          05
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>

      </div>
      <div class="service-slider-item ">
        <div class="service-number">
          06
        </div>
        <p class="service-heading">Наша услуга</p>
        <p class="service-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.</p>

      </div>
    </div>
  </div>
</section>