<header class="header">

        <div class="header_top">
            <div class="container">
                <div class="header_top-wrapper">
                    <div class="info col-12">
                        <div class="info-phone">+380669548775</div>
                        <div class="info-email">info@gmail.com</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="header_main">
            <div class="container">
                <div class="header_main-wrapper">
                    <div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <img src="images/logo.png" alt="logo">
                    </div>
                    <nav class="menu col-lg-10 col-md-10 col-sm-10">
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Преимущества</a></li>
                            <li><a href="#">Как мы работаем</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <button class="toggle-hamburger toggle-hamburger__animx hidden-lg hidden-md hidden-sm">
                    <span>menu toggle</span>
                </button>
            </div>
        </div>
</header>