<header class="header">
    <div class="header_top d-lg-block d-md-block d-none">
        <div class="container">
            <div class="header_top-wrapper col-12">
                <div class="info col-lg-4">
                    <div class="info-phone">+380669548775</div>
                    <div class="info-email">info@gmail.com</div>
                </div>
                <div class="logo col-lg-4 col-md-3 col-sm-4 col-xs-3">
                    <!--im_l-->
                </div>
                <div class="adress col-lg-4">
                    69 Halsey St, New York, Ny 10002.
                </div>
            </div>

        </div>
    </div>
    <div class="header_main d-lg-block d-md-block d-none">
        <div class="container">
            <div class="header_main-wrapper col-12">
                <nav class="menu col-12">
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Преимущества</a></li>
                        <li><a href="#">Как мы работаем</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>

            </div>

        </div>
    </div>
    <div class="header_sm d-lg-none d-md-none">
        <div class="container">
            <div class="header_sm-wrapper">
                <div class="logo col-sm-4 col-xs-3">
                    <!--im_l_mini-->
                </div>
                <nav class="menu col-12">
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Преимущества</a></li>
                        <li><a href="#">Как мы работаем</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
                <button class="toggle-hamburger toggle-hamburger__animx col-sm-2 col-xs-2">
                    <span>menu toggle</span>
                </button>
            </div>
        </div>

    </div>

</header>